[Desktop Entry]
Name=WhatsApp
GenericName=WhatsApp Multi-Account Client
Comment=Run multiple WhatsApp Web accounts
Exec=/home/sejan/.local/bin/WhatsAppClient
Icon=/home/sejan/Desktop/pywebview/whatsapp_icon.png
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=WhatsAppClient
